<fieldset>
  <legend>Images</legend>

  <div class="row">
    <div class="large-12 columns">
      <label for="front-image">Front<input type="text" id="front-image" ng-model="vm.editorFormData.images.front"></label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="rear-image">Rear<input type="text" id="rear-image" ng-model="vm.editorFormData.images.rear"></label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="left-image">Left<input type="text" id="left-image" ng-model="vm.editorFormData.images.left"></label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="right-image">Right<input type="text" id="right-image" ng-model="vm.editorFormData.images.right"></label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="top-image">Top<input type="text" id="top-image" ng-model="vm.editorFormData.images.top"></label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="bottom-image">Bottom<input type="text" id="bottom-image" ng-model="vm.editorFormData.images.bottom"></label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="takeOff-image">Takeoff<input type="text" id="takeOff-image" ng-model="vm.editorFormData.images.takeOff"></label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="landing-image">Landing<input type="text" id="landing-image" ng-model="vm.editorFormData.images.landing"></label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="airborne-image">Airborne<input type="text" id="airborne-image" ng-model="vm.editorFormData.images.airborne"></label>
    </div>
  </div>

</fieldset>
