<fieldset>
  <legend>Weight</legend>

  <div class="row">
    <div class="large-6 columns">
      <label for="emptyWeight">Empty weight<input type="text" id="emptyWeight" ng-model="vm.editorFormData.weight.emptyWeight"></label>
    </div>

    <div class="large-6 columns">
      <label for="grossWeight">Empty weight<input type="text" id="grossWeight" ng-model="vm.editorFormData.weight.grossWeight"></label>
    </div>
  </div>
  
    <div class="row">
      <div class="large-6 columns">
        <label for="maxTakeOffWeight">Max takeoff weight<input type="text" id="maxTakeOffWeight" ng-model="vm.editorFormData.weight.maxTakeOffWeight"></label>
      </div>

      <div class="large-6 columns">
        <label for="maxLandingWeight">Max landing weight<input type="text" id="maxLandingWeight" ng-model="vm.editorFormData.weight.maxLandingWeight"></label>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <label for="maxPayload">Max payload<input type="text" id="maxPayload" ng-model="vm.editorFormData.weight.maxPayload"></label>
      </div>

      <div class="large-6 columns">
        <label for="fullFuelPayload">Full fuell payload<input type="text" id="fullFuelPayload" ng-model="vm.editorFormData.weight.fullFuelPayload"></label>
      </div>
    </div>

</fieldset>
