<fieldset>
  <legend>Interior</legend>

  <div class="row">
    <div class="large-4 columns">
      <label for="crew">Crew<input type="text" id="crew" ng-model="vm.editorFormData.interior.crew"></label>
    </div>
    <div class="large-4 columns">
      <label for="passengers">Passengers<input type="text" id="passengers" ng-model="vm.editorFormData.interior.passengers"></label>
    </div>
    <div class="large-4 columns">
      <label for="bootspace">Boot space<input type="text" id="bootspace" ng-model="vm.editorFormData.interior.bootSpace"></label>
    </div>
  </div>

</fieldset>
