<fieldset>
  <legend>Dimensions</legend>

  <div class="row">
    <div class="large-6 columns">
      <label for="length">Length<input type="text" id="length" ng-model="vm.editorFormData.dimensions.length"></label>
    </div>
    <div class="large-6 columns">
      <label for="height">Height<input type="text" id="height" ng-model="vm.editorFormData.dimensions.height"></label>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label for="wingSpan">Wing span<input type="text" id="wingSpan" ng-model="vm.editorFormData.dimensions.wingSpan"></label>
    </div>
    <div class="large-6 columns">
      <label for="wingArea">Wing area<input type="text" id="wingArea" ng-model="vm.editorFormData.dimensions.wingArea"></label>
    </div>
  </div>

</fieldset>
