<section ng-controller="EditorCtrl as vm" ng-init="vm.retriveConstants()">
  <div class="row">
    <div class="large-9 large-centered columns">
      <h3>Create Aircraft Profile.</h3>


        <!-- Form -->
        <form ng-submit="vm.createAircraft()">
          <section onload="vm.toggleConstantsInitialState()" ng-include="'app/views/admin/editor/create.general.html'"></section>
          <section ng-include="'app/views/admin/editor/create.interior.html'"></section>
          <section ng-include="'app/views/admin/editor/create.weight.html'"></section>
          <section ng-include="'app/views/admin/editor/create.dimensions.html'"></section>
          <section ng-include="'app/views/admin/editor/create.performance.html'"></section>
        </form>


    </div>
  </div>
  <pre>{{vm.editorFormData}}</pre>
</section>
